/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 120vh; */
    margin: 0;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.upload-section,
.options-section,
.action-buttons,
.result-section,
#countdownSection {
    margin-bottom: 20px;
}

.upload-section,
.options-section {
    display: flex;
    flex-direction: column;
}

.upload-section input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.upload-section select,
.options-section select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.options-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

#convertButton {
    background-color: #007bff;
    color: white;
}

#convertButton:hover {
    background-color: #0056b3;
}


.result-section pre {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
    max-height: 300px;
}

#searchSection {
    margin-bottom: 10px;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 70%;
    box-sizing: border-box;
}

.search {
  background-color: #a3a6a8;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 20%;
  padding: 10px; /* Increased padding for a more comfortable click area */
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s; /* Smooth color transition */
}

/* Hover effect for buttons */
.search:hover {
  background-color: #5a5b5c;
}

.search:active {
  background-color: #218838;
}

#clearData {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Increased padding for a more comfortable click area */
  cursor: pointer;
  font-size: 16px;
  margin: 15px;
  transition: background-color 0.3s; /* Smooth color transition */
}

#clearData:hover {
  background-color: #c82333;
}

#clearData:active {
  background-color: #218838;
}

#downloadButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px; /* Increased padding for a more comfortable click area */
  cursor: pointer;
  font-size: 16px;
  margin: 15px;
  transition: background-color 0.3s; /* Smooth color transition */
}

#downloadButton:hover {
  background-color: #218838;
}

#downloadButton:active {
  background-color: #0a2d12;
}

